<html>
<head>
	<title>Forgot Password</title>
	</head>
<body>
	<form action="forgot" method="post">
		<input type="email" placeholder="Enter Email" name="name">
		<input type="submit" value="submit">
	</form>
</body>
</html>